<include file="public@header" />
<notempty name="top_html"><title>{$meta_title}</title></notempty>
</head>
<body>
<div class="wrap">
    <div class="box box-solid">
        <present name="show_box_header">
          <eq name="show_box_header" value="1">
              <notempty name="tips">
                  <div class="alert alert-{$tips_type} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {$tips|default=""}
                  </div>
              </notempty>
          </eq>
        </present>
        <!-- Tab导航 -->
        <notempty name="tab_nav">
            <ul class="nav nav-tabs">
                <volist name="tab_nav.tab_list" id="tab">
                    <li class="<php>if($tab_nav['current'] == $key) echo 'active';</php>"><a href="{$tab.href}" {$tab.extra_attr|default=''}>{$tab.title}</a></li>
                </volist>
            </ul>
        </notempty>
        <notempty name="top_html">
            <div class="well">{$top_html}</div>
        </notempty>
        <div class="builder-box">
            <div class="panel panel-default">
                  <notempty name="top_html">
                      <div class="panel-heading">
                          <h3 class="panel-title">{$meta_title}</h3>
                      </div>
                  </notempty>
                  <div class="panel-body">
                      <form method="post" class="form-builder form-horizontal <eq name="is_ajax_sumbit" value="1">js-ajax-form"</eq> action="{$post_url|default=''}">
                          <volist name="fieldList" id="field" key="k">
                              <php>if(!in_array($field['type'],['group','section','self_html','tab','info']) && !isset($field['FormBuilderExtend'])){</php>
                              <div class="form-group item_{$field.name|default=''} {$field.extra_class|default=''}">
                                  <label for="{$field.type}_{$field.name|default=''}" class="col-md-2 control-label">
                                      <php>$is_required=strstr($field['extra_attr'],'required');</php>
                                      <neq name="is_required" value="0">
                                      <span class="form-required">*</span></neq>{$field.title|default=""}</label>
                                  <div class="{$field.extra.field_body_class|default='col-md-4'}" {$field.extra.field_body_extra|default=''}>
                                      {:action('common/Form/fieldType',['field'=>$field],'builder')}
                                  </div>
                                  <notempty name="field.description">
                                      <div class="{$field.extra.field_help_block_class|default='col-md-5'} help-block">
                                          <label for="{$field.type}_{$field.name|default=''}">
                                            <i class="fa fa-info-circle color-info1"></i> {$field.description|default=""}
                                          </label>
                                      </div>
                                  </notempty>
                              </div>
                              <php>}else{</php>
                              {:action('common/Form/fieldType',['field'=>$field],'builder')}
                              <php>}</php>
                          </volist>
                          <hr/>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <volist name="button_list" id="button">
                                      <button {$button.attr}>{$button.title}</button>
                                  </volist>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
            {$extra_html}
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>